---
import PageLayout from "@/layouts/Base";
import { Image } from "@astrojs/image/components";
import aboutImg from "../assets/about-astro.png";

const meta = {
	title: "Qualcosa è andato storto!",
	description: "Cambia pagina, pirlone!",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">404 | Qualcosa è andato storto!</h1>
	<p class="mb-8">Torna indietro!</p>
	<div class="my-4 grid justify-center">
		<Image
			class="rotate-180"
			src={}
			alt=""
			loading="eager"
		/>
	</div>
</PageLayout>
