---
import PageLayout from "@/layouts/Base";
import { Image } from "@astrojs/image/components";
import aboutImg from "../assets/about-astro.png";

const meta = {
	title: "About",
	description: "Il mangadex italiano, militarizzato e completamente privacy-focused.",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
		Piccolo test per About page, verranno descritti gli obiettivi del progetto e come penso che dovrà essere.
		</p>
		<div class="flex justify-center">
			<Image
				src={}
				alt=""
				loading="eager"
			/>
		</div>
		<p>Here are my some of my awesome built in features:</p>
		<ul class="list-inside list-disc">
			<li>Sono statico</li>
			<li>Super-responsive</li>
			<li>Ci tengo ai tuoi occhi, light e dark theme</li>
			<li>altri segreti</li>
			<li>Utilizzo tailwind</li>
			<li>Utilizzo shiki</li>
			<li>Utilizzo satori</li>
		</ul>
		<p>
			Non open-source, forse in seguito
			<a
				class="cactus-link inline-block"
				href="TEST"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="github repository"
			>
				repo
			</a> TEST
		</p>
	</div>
</PageLayout>
